/*
Theme Name:		Boutique
Theme URI:		https://woocommerce.com/products/boutique/
Description:	A Storefront child theme designed for small WooCommerce stores / boutiques. Boutique features a simple, traditional design which you can customise using the settings available in the WordPress Customizer. Looking for a theme for your new WooCommerce store? Look no further than Storefront and Boutique!
Author:			WooCommerce
Author URI:		http://woocommerce.com
Template:		storefront
Version:		2.0.10
License: 		GNU General Public License v2 or later
License URI: 	http://www.gnu.org/licenses/gpl-2.0.html
Tags:			e-commerce, light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
Text Domain:	boutique
*/
/* =Boutique styles starts here
-------------------------------------------------------------- */
body {
  background: #303030;
  -webkit-font-smoothing: subpixel-antialiased; }

body,
button,
input,
select,
textarea {
  font-family: 'Lato', sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  letter-spacing: 0 !important; }
  h1 a,
  h1 label,
  h2 a,
  h2 label,
  h3 a,
  h3 label,
  h4 a,
  h4 label,
  h5 a,
  h5 label,
  h6 a,
  h6 label {
    font-weight: 400; }

.widget h1,
.widget h2,
.widget h3,
.widget h4,
.widget h5,
.widget h6 {
  font-weight: 400; }

.site-header {
  border-bottom: 0; }

.site-branding .site-title {
  font-family: 'Playfair Display', serif; }

.site-branding .site-title a {
  font-weight: 400; }

.storefront-product-section {
  margin-bottom: 4.236em; }

.storefront-product-section,
.hentry {
/*  border-bottom-style: double;
  border-bottom-width: 3px;
  border-bottom-color: rgba(0, 0, 0, 0.025); */
}

.woocommerce-tabs ul.tabs li a,
.woocommerce-product-rating,
.woocommerce-breadcrumb {
  text-transform: uppercase; }

.woocommerce-breadcrumb {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05); 
  display: none;
}
  .woocommerce-breadcrumb a {
    text-transform: none; }

.woocommerce-error,
.woocommerce-info,
.woocommerce-message,
.woocommerce-noreviews,
p.no-comments {
  color: inherit;
  background: rgba(0, 0, 0, 0.043); }
  .woocommerce-error a,
  .woocommerce-error a:hover,
  .woocommerce-error .button,
  .woocommerce-error .button:hover,
  .woocommerce-info a,
  .woocommerce-info a:hover,
  .woocommerce-info .button,
  .woocommerce-info .button:hover,
  .woocommerce-message a,
  .woocommerce-message a:hover,
  .woocommerce-message .button,
  .woocommerce-message .button:hover,
  .woocommerce-noreviews a,
  .woocommerce-noreviews a:hover,
  .woocommerce-noreviews .button,
  .woocommerce-noreviews .button:hover,
  p.no-comments a,
  p.no-comments a:hover,
  p.no-comments .button,
  p.no-comments .button:hover {
    color: inherit;
    font-weight: normal; }
  .woocommerce-error a,
  .woocommerce-info a,
  .woocommerce-message a,
  .woocommerce-noreviews a,
  p.no-comments a {
    text-decoration: underline; }

.woocommerce-error {
  border-left-color: #e2401c; }

.woocommerce-info,
.woocommerce-noreviews,
p.no-comments {
  border-left-color: #b53a67; 
/*  border-left-color: #3D9CD2; */
}
form#order_review #payment .payment_methods > li {
    background-color: #e6e6e6 !important;
    width: 50% !important;
}
form#order_review #place_order.button {
    font-size: 1.21575em !important;
    width: 20% !important;
}
.woocommerce-message {
  border-left-color: #0f834d;
  display: none;
}
.woocommerce-MyAccount-navigation ul li a {
    color: #081bb2 !important;
}
.woocommerce-MyAccount-navigation ul li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25) !important;
}
.woocommerce-MyAccount-navigation ul li:last-child {
   display: none;
}
.woocommerce-MyAccount-navigation ul {
    border-top: 1px solid rgba(0, 0, 0, 0.25) !important;
}
.woocommerce-MyAccount-content fieldset, fieldset legend {
    background-color: #ad57a2 !important;
    color: #fff;
}
.site-header-cart .widget_shopping_cart {
    background: #ddd none repeat scroll 0 0;
    color: #090909;
}
.site-header-cart .widget_shopping_cart .total, .site-header-cart .widget_shopping_cart .buttons {
    background: none !important;
}
.site-header-cart .widget_shopping_cart a {
    color: #5c5c5c;
}
.woocommerce-products-header {
    display: none;
}
.woocommerce-products-header h1 {
    border-bottom: 4px double rgba(0, 0, 0, 0.1);
    padding-bottom: 0.318em;
}
p.stars.selected a.active::before, p.stars:hover a::before, p.stars.selected a:not(.active)::before, p.stars.selected a.active::before {
/*    color: #ffd455 !important;*/
    color: #CC9501 !important;
}

.columns-3 .storefront-sorting {
    display: none !important;
}
.home.blog .site-header,
.home.page:not(.page-template-template-homepage) .site-header,
.home.post-type-archive-product .site-header {
  margin-bottom: 0; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button,
.added_to_cart,
.widget-area .widget a.button,
.site-header-cart .widget_shopping_cart a.button {
  box-shadow: inset 0 -0.327em 1.618em rgba(0, 0, 0, 0.1); }

button.menu-toggle {
  margin-bottom: 0; }

.boutique-primary-navigation {
  -webkit-font-smoothing: antialiased; }
  .boutique-primary-navigation::after {
    clear: both;
    content: "";
    display: table; }

.main-navigation ul.menu > li > ul,
.main-navigation ul.menu ul
/*.site-header-cart .widget_shopping_cart */
{
  background: #212121; }

.storefront-primary-navigation {
  background-color: transparent; }

.posted-on,
.byline {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: .7em; }

.hentry .entry-header {
  border-bottom-width: 0;
  margin: 0 0 3.631em; }

.widget h3.widget-title,
.widget h2.widgettitle {
  border-bottom-width: 1px;
  border-bottom-color: rgba(0, 0, 0, 0.1) !important;
  font-style: italic;
  font-weight: 400; }

.hentry .entry-header h1 {
  border-bottom: 4px double rgba(0, 0, 0, 0.1);
  padding-bottom: .318em; }

.col-full,
.header-widget-region {
  box-sizing: content-box; }

.header-widget-region {
  margin: 0; }
  .header-widget-region .col-full {
    background: #fff;
    padding: 0 1em; }
  .header-widget-region .widget {
    padding-top: 2.244em; }

.site-content .col-full {
/*  background: #fff;*/
  background: url("images/repeat_body.jpg");
  padding: 1.618em;
  box-shadow: inset 0 0 0 0.1em #f6f6f6;
min-height: 310px;}

.site-footer {
  padding: 0; }
  .site-footer .col-full {
/*    background: #d7d7d7;
    background: #ffd8aa;*/
    padding: 1.618em; }
  .footer-contact {
      width: 50%;
      float: left;
  }
  .footer-copyright {
      width: 100%;
      float: left;
      text-align: center;
  }
  .footer-copyright p {
      color: #fff;
  } 
  .contact-header h3 {
      font-size: 1.4em;
      text-decoration: underline;
  }
.woocommerce-breadcrumb {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  background-color: transparent !important; }

.woocommerce .woocommerce-login-wrapper p.form-row a,
.woocommerce form.register p.form-row a {
    color: #255859 !important;
}
.woocommerce form.register p.form-row-first,
.woocommerce form.register p.form-row-last {
    width: 46.826% !important;
}
.woocommerce-login-wrapper {
    background: #ffffff;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    padding: 3.5%;
    width: 35%;
}
.woocommerce-login-wrapper h3, .registration-form h3 {
    font-size: 1.7em;
    font-family: "Lato",sans-serif;
    text-align: center;
}
.woocommerce-login-wrapper .input-text, .registration-form .input-text{
    background-color: #fff;
    border: 1px solid #bfc0c6;
    border-radius: 5px;
    box-shadow: 0 !important;
}
.woocommerce-login-wrapper .input-text:focus,
.registration-form .input-text:focus{
    background-color: #f8f7f7;
}
.woocommerce-login-wrapper .button,
.registration-form .button {
   padding: 0.318047em 1.41575em !important;
}
.woocommerce-login-wrapper .inline,
.registration-form .inline {
    float: right;
}
form.woocommerce-form-login {
    margin-top: 1.918em;
}
.woocommerce-LostPassword {
    font-size: 0.9em;
}
form.cart .tinv-wishlist {
/*    display: none;*/
    font-size: 100%;
    left: 2% !important;
    position: absolute;
    top: 1% !important;
    width: 5%;
}
form.cart .tinv-wishlist a.button {
    border-radius: 5px !important;
}
.tinv-wishlist .tinvwl_add_to_wishlist_button.tinvwl-icon-heart.no-txt::before {
    margin-left: -14px !important;
    margin-top: -12px !important;
}

/*Woocommerce register*/
.registration-form {
    background: #ffffff;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    padding: 3.5%;
    width: 50%;
}
/*Woocommerce register*/
.woocommerce-checkout-payment div.place-order input.alt[type="submit"] {
    background-color: #d75685 !important;
    border-color: #d75685 !important; 
}
form.cart button.single_add_to_cart_button {
    background-color: #d75685 !important;
    border-color: #d75685 !important; 
}
.woocommerce form.woocommerce-cart-form table tbody tr.cart_item td {
    background-color: #f8f8f8 !important;
}
.woocommerce  form.woocommerce-cart-form table th {
    background-color: #e4e4e4 !important;
}
form.woocommerce-shipping-calculator a{
    color: #215849 !important;
}
.wc-proceed-to-checkout a.checkout-button {
    background-color: #ba3c6a !important;
    border-color: #ba3c6a !important;
}
table.cart {
    margin-bottom: 0 !important;
}
.cart_totals table {
    border-collapse: collapse !important;
}
.cart_totals table.shop_table tbody tr {
    border-bottom: 1px solid #e5e5e5;
}
.site-header-cart {
  margin-bottom: 0; }

ul.products li.product {
  overflow: visible; }
.woocommerce .ced ul.products li.product .price {
    background: #e3e3e3 none repeat scroll 0 0;
    bottom: -5% !important;
}
  ul.products li.product .price {
/*    position: absolute;
    top: .618em;
    right: 1px;
    padding: .53em .857em;
    background: #2432b1;
    color: #fff;
    font-weight: 700;
    box-shadow: 5px 0 0 0 #2432b1; */
background: #e0e5e9 none repeat scroll 0 0;
bottom: -10%;
color: #a609a0;
font-size: 1.25em;
font-weight: 700;
opacity: 0.9;
padding: 0.48em 0.857em 0.55em;
position: absolute;
width: 100%;
  }
    ul.products li.product .price:after {
        display: block;
/*      content: "";
      display: block;
      position: absolute;
      right: -5px;
      top: 100%;
      border: 5px solid transparent;
      border-top-color: #222222;
      border-left-width: 0; */
    }
    ul.products li.product .price del {
      font-weight: 400;
      opacity: 0.5; }
  ul.products li.product .onsale {
    display: none; }
  ul.products li.product img {
    border: 1px solid rgba(0, 0, 0, 0.1); }

.single-product .images img {
  border: 1px solid rgba(0, 0, 0, 0.1); }

table.cart td.actions {
  border: 0;
  padding-top: 1.618em; }

.widget_product_categories ul li:before,
.widget_categories ul li:before {
  content: "\f07b" !important; }

.widget_product_categories ul li.current-cat:before,
.widget_categories ul li.current-cat:before {
  content: "\f07c" !important; }

.widget_recent_comments ul li:before {
  content: "\f075" !important; }

.widget_archive ul li:before {
  content: "\f07c" !important; }

.widget_recent_entries ul li:before, .widget_pages ul li:before {
  content: "\f15c" !important; }

.page-template-template-homepage:not(.has-post-thumbnail) .site-main,
.page-template-template-homepage .site-main {
  padding-top: 0; }

.page-template-template-homepage .site-main > .type-page:first-child {
  width: auto !important;
  margin-left: 0 !important; }
  .page-template-template-homepage .site-main > .type-page:first-child.hentry .entry-header {
    margin-left: auto;
    margin-right: auto; }
    .page-template-template-homepage .site-main > .type-page:first-child.hentry .entry-header h1 {
      font-size: 2.618em; }
  .page-template-template-homepage .site-main > .type-page:first-child .col-full {
    padding: 0;
    background: none;
    box-shadow: none; }

.content-area,
.widget-area {
  margin-bottom: 0; }

.woocommerce-checkout.scc-distraction-free-checkout .boutique-primary-navigation {
  display: none; }

.woocommerce-checkout.scc-distraction-free-checkout .site-header {
  margin-bottom: 0; }

.sph-hero .col-full {
  background: transparent;
  box-shadow: none; }

@media screen and (min-width: 768px) {
  .col-full {
/*    padding: 0 5.874em; */
    padding: 0 1em; }
  .boutique-primary-navigation {
    position: relative;
    margin-left: -5.874em;
    margin-right: -5.874em;
    padding: 0 5.874em;
    border-top-left-radius: 0.327em;
    border-top-right-radius: 0.327em;
    box-shadow: 0 0 5px #840c29;
/*    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), inset 0 -0.53em rgba(0, 0, 0, 0.05);*/
    /*background: #981937;*/
    background: #c03f6e;
    clear: both; }
  .boutique-primary-navigation .main-navigation .menu ul.nav-menu li a {
      font-size: 0.9em;
  }
  .site-branding,
  .site-header-cart,
  .site-logo-anchor,
  .custom-logo-link {
    margin-bottom: 4.236em; }
 /* .site-search {
      margin-bottom: 4.236em;
  }
  .site-header {
    padding-top: 4.236em; }*/
 .site-search .widget_product_search form input[type="search"] {    
/*     background: #f7f7f7 !important;
    border: 2px solid #d75685;
    border-radius: 7px;*/
background: #fff !important;
border: 1px solid #e5e5e5;
border-radius: 7px;
box-shadow: 1px 7px 23px #efefef;
height: 50px;
padding-left: 3.7em !important;
 }
 .widget_product_search form::before {
     color: #7d7799 !important;
     font-size: 1.3em !important;
     line-height: 0.5 !important;
 }
 .site-branding a.custom-logo-link img {
     height: 75px !important;
     width: 150px !important;
     margin-left: 1%;
 }
 
  .main-navigation ul.menu > li > a, .main-navigation ul.nav-menu > li > a,
  .site-header-cart .cart-contents {
    padding-bottom: 1em;
    padding-top: 0.9em; }
  .site-content .col-full,
  .site-footer .col-full,
  .header-widget-region .col-full {
/*    padding: 4.236em 5.874em; 
    padding: 0 0 2.236em;*/
    padding: 0 0 0.136em;
  }
  .woocommerce .ced h2 {
      display: none;
  }
  .woocommerce .ced ul.products li.product {
      margin-right: 2.55% !important;
      width: 22.412% !important;
  }
  .categories_viewed {
       margin-top: 4%;
  }
  .woocommerce .ced ul.products li.product.first {
      clear: none !important;
  }
/*  .product .woocommerce {
      display: none;
  }*/
.woocommerce-checkout-payment ul li{
    background: #ababab !important;
}
  .header-widget-region .col-full {
    padding-top: 0;
    padding-bottom: 0; }
  .site-footer .col-full {
/*    padding: 2.618em 5.874em;
  border-top: 2px solid #d75685;*/
  }
  .main-navigation ul.menu li.current-menu-item > a {
    position: relative; }
    .main-navigation ul.menu li.current-menu-item > a:before {
      content: '';
      display: block;
      position: absolute;
      top: 100%;
      left: 50%;
      border: .618em solid transparent;
      border-top-color: #212121;
      margin-left: -.618em; }
  .main-navigation ul.menu ul,
  .main-navigation ul.nav-menu ul {
    background: #212121; }
  .main-navigation .smm-mega-menu {
    margin-left: 0;
    margin-right: 0;
    padding: 4.236em 5.874em;
    background-color: #212121 !important; }
    .main-navigation .smm-mega-menu ul {
      background-color: transparent !important; }
  .sd-sticky-navigation .main-navigation .smm-mega-menu {
    margin-left: -5.874em;
    margin-right: -5.874em; }
  .page-template-template-homepage-php .content-area {
    width: 73.9130434783%;
    float: left;
    margin-right: 4.347826087%; }
    .page-template-template-homepage-php .content-area .columns-3 ul.products li.product {
      width: 29.4117647059%;
      float: left;
      margin-right: 5.8823529412%; }
  .page-template-template-homepage-php .boutique-featured-products .storefront-product-section {
    margin-left: -5.874em;
    margin-right: -5.874em;
    padding: 0 5.874em;
    background: rgba(0, 0, 0, 0.025);
    padding-top: 3.632em;
    padding-bottom: 1em;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 0 0.53em rgba(0, 0, 0, 0.025); }
    .page-template-template-homepage-php .boutique-featured-products .storefront-product-section ul.products li.product span,
    .page-template-template-homepage-php .boutique-featured-products .storefront-product-section ul.products li.product .button,
    .page-template-template-homepage-php .boutique-featured-products .storefront-product-section ul.products li.product .star-rating {
      display: none; }
    .page-template-template-homepage-php .boutique-featured-products .storefront-product-section ul.products li.product h3,
    .page-template-template-homepage-php .boutique-featured-products .storefront-product-section ul.products li.product .price {
      display: block;
      position: absolute; }
    .page-template-template-homepage-php .boutique-featured-products .storefront-product-section ul.products li.product h3 {
      top: 0;
      left: 0;
      z-index: 99;
      -webkit-transition: all ease .2s;
      transition: all ease .2s;
      color: #f6f6f6;
      opacity: 0;
      width: 100%;
      text-align: left;
      padding: 1.618em;
      color: #303030;
      opacity: 0; }
    .page-template-template-homepage-php .boutique-featured-products .storefront-product-section ul.products li.product .price {
      bottom: 0;
      right: 0;
      top: auto;
      z-index: 99; }
      .page-template-template-homepage-php .boutique-featured-products .storefront-product-section ul.products li.product .price span {
        display: block; }
    .page-template-template-homepage-php .boutique-featured-products .storefront-product-section ul.products li.product img {
      margin: 0; }
    .page-template-template-homepage-php .boutique-featured-products .storefront-product-section ul.products li.product > a {
      display: block; }
      .page-template-template-homepage-php .boutique-featured-products .storefront-product-section ul.products li.product > a:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(255, 255, 255, 0.9);
        border: 1px solid #fff;
        opacity: 0;
        -webkit-transition: all ease .2s;
        transition: all ease .2s;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); }
      .page-template-template-homepage-php .boutique-featured-products .storefront-product-section ul.products li.product > a:before {
        content: "";
        display: block;
        position: absolute;
        top: .618em;
        left: .618em;
        right: .618em;
        bottom: .618em;
        border: 4px double rgba(0, 0, 0, 0.1);
        z-index: 9;
        opacity: 0;
        -webkit-transition: all ease .2s;
        transition: all ease .2s; }
      .page-template-template-homepage-php .boutique-featured-products .storefront-product-section ul.products li.product > a:hover h3, .page-template-template-homepage-php .boutique-featured-products .storefront-product-section ul.products li.product > a:hover:after, .page-template-template-homepage-php .boutique-featured-products .storefront-product-section ul.products li.product > a:hover:before {
        opacity: 1; }
  .page-template-template-homepage-php .boutique-featured-products .hentry {
    padding-bottom: 0;
    border-bottom: 0; }
  .page-template-template-homepage-php .boutique-featured-products .entry-header h1 {
    text-align: center; }
  .page-template-template-homepage .content-area .sph-hero,
  .page-template-template-homepage .content-area .sprh-hero {
    margin-top: 0 !important; }
    .page-template-template-homepage .content-area .sph-hero.full,
    .page-template-template-homepage .content-area .sprh-hero.full {
      margin-left: 0 !important;
      margin-right: 0 !important; }
  .page-template-template-homepage .boutique-featured-products .sph-hero.full,
  .page-template-template-homepage .boutique-featured-products .sprh-hero.full {
    margin-left: -5.874em;
    margin-right: -5.874em; }
  .page-template-template-homepage.left-sidebar .content-area {
    width: 73.9130434783%;
    float: right;
    margin-right: 0; }
  .page-template-template-homepage.left-sidebar .widget-area {
    width: 21.7391304348%;
    float: left;
    margin-right: 4.347826087%; }
  .sph-hero .col-full,
  .sprh-hero .col-full {
    background-color: transparent;
    padding: 0; }
  .sph-hero h1,
  .sprh-hero h1 {
    font-weight: 400; }
  .site-main .sph-hero .overlay,
  .site-main .sprh-hero .overlay {
    padding: 4.236em; } }
/*.boutique-primary-navigation {
        background: #981937 !important;
    }*/
.share_buttons_1 {
    display: none !important;
}
.slider_1 {
    margin-bottom: 0 !important;
}
@media screen and (max-width: 800px) {
  .col-full {
    padding: 0 1em;
    margin: 0 1em; }
  .boutique-featured-products .sph-hero.full,
  .boutique-featured-products .sprh-hero.full {
    margin-left: -1em;
    margin-right: -1em; }
  body.logged-in .boutique-featured-products .storefront-product-section,
  .boutique-primary-navigation {
    margin-left: -1em;
    margin-right: -3.8em;
    height: 50px !important; 
/*    padding: 0 1em; */
  }
  nav.main-navigation {
      height: 50px !important; 
  }
  .boutique-featured-products .storefront-product-section,
  .boutique-primary-navigation {
     margin-right: 0.2em !important;
  }
  .boutique-primary-navigation {
    padding-top: 0;
/*    padding-bottom: 1em; */
  }
    .boutique-primary-navigation button.menu-toggle {
      margin-top: 0; }
  .site-content .col-full,
  .site-footer .col-full {
    padding-left: 1em;
    padding-right: 1em; }
  .huge-it-dot-wrap {
      z-index: 0 !important;
  }
}
@media screen and (max-width: 500px) {
    .col-full {
    padding: 0 1em;
    margin: 0 0em; }
    .woocommerce-active .site-header .account-login:after { 
        color: #5b5b5b;
        content: "";
        display: inline-block;
        float: left;
        font-family: FontAwesome;
        margin: 3% 0.5% 0 5%;
        width: 10%;
    } 
    .site-header .account-login span {
        display: inline;
        line-height: 2;
        color: #5b5b5b;
    }
    .account-login {
        width: 50%;
    }
    .woocommerce-active .site-branding {
        margin: 2% 0;
    }
    .site-branding a img {
        width: 75% !important;
    }
    .storefront-primary-navigation {
        float: right;
        margin-top: -25%;
        width: 30%;
    }
    body.logged-in .storefront-primary-navigation {
        float: right;
        margin-top: -24%;
        width: 30%;
        margin-right: -20%;
        height: 50px;
    }
    .footer-contact, .footer-copyright {
        float: none;
        width: 100%;
    }
    .pagination .page-numbers li .page-numbers.current, .woocommerce-pagination .page-numbers li .page-numbers.current {
        background-color: #D75685;
    }
    .woocommerce .ced ul.products li.product {
        width: 97.412% !important;
    }
    .tinv-wishlist .tinvwl_add_to_wishlist_button.tinvwl-icon-heart.no-txt::before {
        margin-left: 15% !important;
        margin-top: -60% !important;
    }
    .summary .stock.out-of-stock {
        float: right !important;
    }
    .summary .tinv-wishlist .tinvwl_add_to_wishlist_button.tinvwl-icon-heart.no-txt::before {
        margin-left: -32% !important;
        margin-top: -30% !important;
    }
    .single-product div.product .product_meta {
        margin-top: 20% !important;
    }
    .woocommerce .ced ul.products li.product .price {
        opacity: 1 !important;
        bottom: -3% !important;
    }
    .woocommerce .ced ul li.product h2.woocommerce-loop-product__title {
        background: #e3e3e3 !important;
        margin-top: 4% !important;
        padding: 4% 0;
    }
    .mostviewed-header {
        display: none;
    }
    .mostviewed-content .woocommerce .ced h2,
    .latest-header h3
    {
        font-size: 1.5em;
        text-align: center;
    }
    ul.products li.product .price {
        bottom: -4% !important;
        opacity: 1 !important;
    }
    .woocommerce-login-wrapper, .registration-form, 
    .woocommerce form.register p.form-row-first,
    .woocommerce form.register p.form-row-last,
    .wc-proceed-to-checkout,
    #payment .place-order .button
    {
        width: 100% !important;
    }
    table.cart td.product-remove a.remove {
        top: 0.181953em !important;
        right: -0.181953em !important;
    }
    #payment .payment_methods > li:not(.woocommerce-notice) {
        background: #CCCCCC !important;
    }
    .onsale {
        display: none !important;
    }
    form.cart .tinv-wishlist {
        top: 0.5% !important;
    }
    .category-content ul.dropdown-menu {
        margin: 0 6em 0.5em 0.5em !important;
    }
} 
@media screen and (max-width: 370px) { 
    .header-icon-wrapper-responsive {
        margin-top: -40% !important;
    }
	.storefront-primary-navigation {
        margin-top: -25% !important;
    }
	div.handheld-navigation {
        margin-left: -190% !important;
    }
    .signout-header {
       margin-right: -18% !important;
    }
    body.logged-in .storefront-primary-navigation {
        margin-top: -25% !important;
        margin-right: -20% !important;
    }
    body.logged-in .main-navigation div.handheld-navigation {
        margin-left: -200% !important;
        margin-top: 110% !important;
    }
}    
@media screen and (max-width: 350px) { 
    .header-icon-wrapper-responsive {
        margin-top: -45% !important;
    }
    body.logged-in .storefront-primary-navigation {
        margin-top: -29% !important;
        margin-right: -26% !important;
    }
    body.logged-in .main-navigation div.handheld-navigation {
        margin-left: -200% !important;
        margin-top: 110% !important;
    }
    .signout-header {
        margin-right: -20% !important;
    }
    .storefront-primary-navigation {
        margin-top: -27% !important;
        margin-right: -3% !important;
    }
    div.handheld-navigation {
        margin-left: -195% !important;
    }
}