/*!
Theme Name:   	Storefront
Theme URI:    	https://woocommerce.com/storefront
Author:         WooThemes
Author URI:     https://woocommerce.com/
Description:  	Storefront is the perfect theme for your next WooCommerce project. Designed and developed by WooCommerce Core developers, it features a bespoke integration with WooCommerce itself plus many of the most popular customer facing WooCommerce extensions. There are several layout & color options to personalise your shop, multiple widget regions, a responsive design and much more. Developers will love it's lean and extensible codebase making it a joy to customize and extend. Looking for a WooCommerce theme? Look no further!
Version:      	2.2.5
License:      	GNU General Public License v2 or later
License URI:  	http://www.gnu.org/licenses/gpl-2.0.html
Text Domain:  	storefront
Tags:         	e-commerce, two-columns, left-sidebar, right-sidebar, custom-background, custom-colors, custom-header, custom-menu, featured-images, full-width-template, threaded-comments, accessibility-ready, rtl-language-support, footer-widgets, sticky-post, theme-options

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Storefront is based on Underscores http://underscores.me/, (C) 2012-2014 Automattic, Inc.

Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/

All sizing (typography, layout, padding/margins etc) are inspired by a modular scale that uses 1em as a base size with a 1.618 ratio.
You can read more about the calculator we use in our sass here; https://github.com/modularscale/modularscale-sass

FontAwesome License: SIL Open Font License - http://scripts.sil.org/OFL
Images License: GNU General Public License v2 or later

======
Note: Do not edit this file. If you wish to add your own CSS we strongly recommend creating your own child theme, or installing a custom CSS plugin.
======
*/


/*!
 * normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css
 */

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden],
template {
    display: none
}

a {
    background-color: transparent
}

a:active,
a:hover,
a:focus{
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b,
strong {
    font-weight: 700
}

dfn {
    font-style: italic
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0
}

pre {
    overflow: auto
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],
html input[disabled] {
    cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    height: auto
}

input[type=search] {
    -webkit-appearance: textfield;
    box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto
}

optgroup {
    font-weight: 700
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td,
th {
    padding: 0
}

body {
    -ms-word-wrap: break-word;
    word-wrap: break-word
}

body,
button,
input,
textarea {
    color: #43454b;
    font-family: "Source Sans Pro", HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    line-height: 1.618;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-weight: 400
}

select {
    color: initial;
    font-family: "Source Sans Pro", HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    font-weight: 300;
    margin: 0 0 .5407911001em;
    color: #131315
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    font-weight: 300
}

.alpha,
h1 {
    font-size: 2.617924em;
    line-height: 1.214;
    letter-spacing: -1px
}

.beta,
h2 {
    font-size: 2em;
    line-height: 1.214
}

.beta+h3,
h2+h3 {
    border-top: 1px solid rgba(0, 0, 0, .05);
    padding-top: .5407911001em
}

.gamma,
h3 {
    font-size: 1.618em
}

.delta,
h4 {
    font-size: 1.41575em
}

.alpha,
.beta,
.delta,
.gamma {
    display: block
}

blockquote+h2,
blockquote+h3,
blockquote+h4,
blockquote+header h2,
form+h2,
form+h3,
form+h4,
form+header h2,
ol+h2,
ol+h3,
ol+h4,
ol+header h2,
p+h2,
p+h3,
p+h4,
p+header h2,
table+h2,
table+h3,
table+h4,
table+header h2,
ul+h2,
ul+h3,
ul+h4,
ul+header h2 {
    margin-top: 2.2906835em
}

hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin: 0 0 1.41575em
}

p {
    margin: 0 0 1.41575em
}

ol,
ul {
    margin: 0 0 1.41575em 3em;
    padding: 0
}

ul {
    list-style: disc
}

ol {
    list-style: decimal
}

li>ol,
li>ul {
    margin-bottom: 0;
    margin-left: 1em
}

dt {
    font-weight: 600
}

dd {
    margin: 0 0 1.618em
}

b,
strong {
    font-weight: 600
}

cite,
dfn,
em,
i {
    font-style: italic
}

blockquote {
    padding: 0 1em;
    border-left: 3px solid rgba(0, 0, 0, .05);
    font-style: italic
}

address {
    margin: 0 0 1.41575em
}

pre {
    background: rgba(0, 0, 0, .1);
    font-family: "Courier 10 Pitch", Courier, monospace;
    margin-bottom: 1.618em;
    padding: 1.618em;
    overflow: auto;
    max-width: 100%
}

code,
kbd,
tt,
var {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    background-color: rgba(0, 0, 0, .05);
    padding: .202em .5407911001em
}

abbr,
acronym {
    border-bottom: 1px dotted #666;
    cursor: help
}

ins,
mark {
    text-decoration: none;
    font-weight: 600;
    background: 0 0
}
.woocommerce ul.products li.product-category a h2 mark.count {
    display: none;
}
sub,
sup {
    font-size: 75%;
    height: 0;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    bottom: 1ex
}

sub {
    top: .5ex
}

small {
    font-size: 75%
}

big {
    font-size: 125%
}

figure {
    margin: 0
}

table {
    margin: 0 0 1.41575em;
    width: 100%
}

img {
    height: auto;
    max-width: 100%;
    display: block
}

a {
    color: #2c2d33;
    text-decoration: none;
    font-weight: 400
}

a:focus {
/*    outline: 1px dotted #96588a*/
}

.storefront-cute * {
    font-family: "Comic Sans MS", sans-serif
}

* {
    box-sizing: border-box
}

body {
/*    background-color: #fff;*/
    background: url("images/repeat_body.jpg") !important;
    overflow-x: hidden;
}
body.home .site-content .content-area .entry-content {
    padding: 0 !important;
}
body.page .site-content .content-area .entry-content {
    padding: 1.2%;
}
body.single .site-content .content-area .site-main {
     padding: 1.2%;
}
.site {
    overflow-x: hidden
}

.header-widget-region,
.site-content {
    -webkit-tap-highlight-color: transparent
}

.site-header {
    background-color: #ffd8aa;
    /*padding-top:1.618em;*/
    padding-bottom: 1.618em;
    color: #9aa0a7;
    background-position: center center;
    position: relative;
    z-index: 999;
    border-bottom: 1px solid transparent
}
.entry-header h1 {
    font-size: 2em !important;
}
.site-header .custom-logo-link,
.site-header .site-logo-anchor,
.site-header .site-logo-link {
    display: block
}

.site-header .custom-logo-link img,
.site-header .site-logo-anchor img,
.site-header .site-logo-link img {
    max-width: 210px
}

.site-header .custom-logo-link,
.site-header .site-branding,
.site-header .site-logo-anchor,
.site-header .site-logo-link {
    margin-bottom: 0;
    float: left
}

.site-header .widget {
    margin-bottom: 0
}

.home.blog .site-header,
.home.page:not(.page-template-template-homepage) .site-header,
.home.post-type-archive-product .site-header {
    margin-bottom: 4.235801032em
}

.no-wc-breadcrumb .site-header {
    margin-bottom: 4.235801032em
}

.no-wc-breadcrumb.page-template-template-homepage .site-header {
    margin-bottom: 0
}

.header-widget-region {
    position: relative;
    z-index: 99
}

.site-branding .site-title {
    font-size: 2em;
    letter-spacing: -1px;
    margin: 0
}

.site-branding .site-title a {
    font-weight: 700
}

.site-branding .site-description {
    font-size: .875em;
    display: none
}

.site-main {
/*    margin-bottom: 2.617924em;*/
}
.site-main .hentry {
    margin: 0;
}
.site-content {
    outline: 0
}

.page-template-template-homepage:not(.has-post-thumbnail) .site-main {
    padding-top: 4.235801032em
}

.page-template-template-homepage .type-page {
    padding-top: 2.617924em;
    padding-bottom: 2.617924em;
    position: relative
}

.page-template-template-homepage .type-page .storefront-hero__button-edit {
    position: absolute;
    top: 1em;
    right: 1em;
    font-size: .875em
}

.page-template-template-homepage .entry-content {
    font-size: 1.1em
}

.page-template-template-homepage .entry-content p:last-child {
    margin-bottom: 0
}

.page-template-template-homepage .entry-header h1 {
    font-size: 3.706325903em;
    margin-bottom: .2360828548em
}

.page-template-template-homepage .entry-content,
.page-template-template-homepage .entry-header {
    max-width: 41.0994671405em;
    margin-left: auto;
    margin-right: auto;
    text-align: center
}

.page-template-template-homepage.has-post-thumbnail .type-page.has-post-thumbnail {
    background-size: cover;
    background-position: center center;
    padding-top: 6.8535260698em;
    padding-bottom: 6.8535260698em
}

.page-template-template-homepage.has-post-thumbnail .type-page.has-post-thumbnail .entry-content,
.page-template-template-homepage.has-post-thumbnail .type-page.has-post-thumbnail .entry-title {
    opacity: 0;
    -webkit-transition: all, ease, .5s;
    transition: all, ease, .5s
}

.page-template-template-homepage.has-post-thumbnail .type-page.has-post-thumbnail .entry-content.loaded,
.page-template-template-homepage.has-post-thumbnail .type-page.has-post-thumbnail .entry-title.loaded {
    opacity: 1
}

.site-footer {
/*    background-color: #f3f3f3;*/
    color: #76787e;
    padding: 1.618em 0 3.706325903em
}
/*.site-footer {
    background: #fff;
    width: 100%;
}*/
.site-footer h1,
.site-footer h2,
.site-footer h3,
.site-footer h4,
.site-footer h5,
.site-footer h6 {
    color: #65676d
}

.site-footer a:not(.button) {
    color: #2c2d33
}

.site-info {
    padding: 2.617924em 0
}

.alignleft {
    display: inline;
    float: left;
    margin-right: 1em
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1em
}

.aligncenter {
    clear: both;
    display: block;
    margin: 0 auto
}

.screen-reader-text {
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute!important;
    display: none;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .6);
    clip: auto!important;
    display: block;
    font-weight: 700;
    height: auto;
    left: 0;
    line-height: normal;
    padding: 1em 1.618em;
    text-decoration: none;
    top: 0;
    width: auto;
    z-index: 100000;
    outline: 0
}

.clear:after,
.clear:before,
.comment-content:after,
.comment-content:before,
.entry-content:after,
.entry-content:before,
.site-content:after,
.site-content:before,
.site-footer:after,
.site-footer:before,
.site-header:after,
.site-header:before {
    content: "";
    display: table
}

.clear:after,
.comment-content:after,
.entry-content:after,
.site-content:after,
.site-footer:after,
.site-header:after {
    clear: both
}

table {
    border-spacing: 0;
    width: 100%;
    border-collapse: separate
}

table caption {
    padding: 1em 0;
    font-weight: 600
}

table td,
table th {
    padding: 1em 1.41575em;
    text-align: left;
    vertical-align: top
}

table td p:last-child,
table th p:last-child {
    margin-bottom: 0
}

table th {
    font-weight: 600
}

table thead th {
/*    padding: 1.41575em;*/
    padding: 1em 1.31em;
    vertical-align: middle
}

table tbody h2 {
    font-size: 1em;
    letter-spacing: normal;
    font-weight: 400
}

table tbody h2 a {
    font-weight: 400
}

.error404 .site-content .widget_product_search {
    padding: 1.618em;
    background-color: rgba(0, 0, 0, .025)
}

.error404 .site-content .widget_product_search form {
    margin: 0
}

.error404.left-sidebar .content-area,
.error404.right-sidebar .content-area {
    width: 100%
}

.error404 .fourohfour-columns-2 {
    padding: 2.617924em 0;
    border: 1px solid rgba(0, 0, 0, .05);
    border-width: 1px 0;
    margin-bottom: 2.617924em
}

.error404 .fourohfour-columns-2:after,
.error404 .fourohfour-columns-2:before {
    content: "";
    display: table
}

.error404 .fourohfour-columns-2:after {
    clear: both
}

.error404 .fourohfour-columns-2 .widget,
.error404 .fourohfour-columns-2 ul.products,
.error404 .fourohfour-columns-2 ul.products li.product {
    margin-bottom: 0
}

.error404 .fourohfour-columns-2 .col-1 {
    width: 47.8260869565%;
    float: left;
    margin-right: 4.347826087%
}

.error404 .fourohfour-columns-2 .col-1 ul.products li.product {
    width: 45.4545454545%;
    float: left;
    margin-right: 9.0909090909%
}

.error404 .fourohfour-columns-2 .col-2 {
    width: 47.8260869565%;
    float: right;
    margin-right: 0;
    padding: 1.618em;
    background-color: rgba(0, 0, 0, .025)
}

#comments {
    padding-top: 2.617924em
}

#comments .comments-title {
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    padding-bottom: .5407911001em;
    margin-bottom: 1.618em
}

#comments .comment-list {
    list-style: none;
    margin-left: 0
}

#comments .comment-list .comment-body:after,
#comments .comment-list .comment-body:before {
    content: "";
    display: table
}

#comments .comment-list .comment-body:after {
    clear: both
}

#comments .comment-list .comment-content {
    padding-bottom: 1.618em;
    margin-bottom: 1.618em
}

#comments .comment-list .comment-content .comment-text {
    padding: 1.618em;
    border-radius: 3px
}

#comments .comment-list .comment-content .comment-text p:last-child {
    margin-bottom: 0
}

#comments .comment-list .comment-meta {
    margin-bottom: 1em
}

#comments .comment-list .comment-meta .avatar {
    margin-bottom: 1em;
    max-width: 64px;
    height: auto
}

#comments .comment-list .comment-meta a.comment-date {
    font-size: .875em
}

#comments .comment-list .comment-meta cite {
    font-style: normal;
    clear: both;
    display: block
}

#comments .comment-list .reply {
    margin-bottom: 1.618em;
    padding-top: .6180469716em
}

#comments .comment-list .reply:after,
#comments .comment-list .reply:before {
    content: "";
    display: table
}

#comments .comment-list .reply:after {
    clear: both
}

#comments .comment-list .reply a {
    display: inline-block;
    margin-right: 1em
}

#comments .comment-list .reply a:last-child {
    margin-right: 0
}

#comments .comment-list .children {
    list-style: none
}

.comment-content a {
    word-wrap: break-word
}

#respond {
    clear: both;
    padding: 1.618em;
    background-color: rgba(0, 0, 0, 0.05);
    position: relative
}

#respond .comment-form-author input,
#respond .comment-form-email input,
#respond .comment-form-url input {
    width: 100%
}

#respond .form-submit,
#respond form {
    margin-bottom: 0
}

#respond #cancel-comment-reply-link {
    position: absolute;
    top: .5407911001em;
    right: .5407911001em;
    display: block;
    height: 1em;
    width: 1em;
    overflow: hidden;
    line-height: 1;
    font-size: 1.41575em;
    text-align: center;
    -webkit-transition: ease, .3s, -webkit-transform;
    transition: ease, .3s, -webkit-transform;
    transition: transform, ease, .3s;
    transition: transform, ease, .3s, -webkit-transform
}

#respond #cancel-comment-reply-link:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3)
}

.hentry {
    margin: 0 0 4.235801032em
}

.hentry .wp-post-image {
    margin-bottom: 1.618em;
    margin-left: auto;
    margin-right: auto
}

.hentry .entry-header {
    margin-bottom: 1em;
    border-bottom: 1px solid rgba(0, 0, 0, .05)
}

.hentry .entry-header .byline,
.hentry .entry-header .posted-on {
    font-size: .875em
}

.hentry .entry-header .byline a,
.hentry .entry-header .posted-on a {
    font-weight: 400;
    text-decoration: underline
}

.hentry .entry-header .byline a:hover,
.hentry .entry-header .posted-on a:hover {
    text-decoration: none
}

.hentry .entry-meta {
    font-weight: 300
}

.hentry.type-page .entry-header {
    border-bottom: 0;
    margin-bottom: 0;
    display: none;
}

.byline,
.updated:not(.published) {
    display: none
}

.group-blog .byline,
.single .byline {
    display: inline
}

.page-links {
    clear: both;
    margin: 0 0 1em
}

.author,
.cat-links,
.comments-link,
.tags-links {
    display: block;
    margin-bottom: 1.618em
}

.author .avatar {
    width: 64px;
    margin-bottom: 1em
}

form {
    margin-bottom: 1.618em
}

button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline
}

.added_to_cart,
.button,
button,
input[type=button],
input[type=reset],
input[type=submit] {
    border: 0;
    background: 0 0;
    background-color: #43454b;
    border-color: #43454b;
    color: #fff;
    cursor: pointer;
    padding: .6180469716em 1.41575em;
    text-decoration: none;
    font-weight: 600;
    text-shadow: none;
    display: inline-block;
    outline: 0;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    border-radius: 0
}

.added_to_cart.alt,
.added_to_cart.cta,
.button.alt,
.button.cta,
button.alt,
button.cta,
input[type=button].alt,
input[type=button].cta,
input[type=reset].alt,
input[type=reset].cta,
input[type=submit].alt,
input[type=submit].cta {
    background-color: #2c2d33;
    border-color: #2c2d33
}

.added_to_cart.alt:hover,
.added_to_cart.cta:hover,
.button.alt:hover,
.button.cta:hover,
button.alt:hover,
button.cta:hover,
input[type=button].alt:hover,
input[type=button].cta:hover,
input[type=reset].alt:hover,
input[type=reset].cta:hover,
input[type=submit].alt:hover,
input[type=submit].cta:hover {
    background-color: #2c2d33
}

.added_to_cart:hover,
.button:hover,
button:hover,
input[type=button]:hover,
input[type=reset]:hover,
input[type=submit]:hover {
    color: #fff
}

.added_to_cart:focus,
.button:focus,
button:focus,
input[type=button]:focus,
input[type=reset]:focus,
input[type=submit]:focus {
/*    outline: 1px dotted #96588a*/
}

.added_to_cart.loading,
.button.loading,
button.loading,
input[type=button].loading,
input[type=reset].loading,
input[type=submit].loading {
    opacity: .5
}

.added_to_cart.small,
.button.small,
button.small,
input[type=button].small,
input[type=reset].small,
input[type=submit].small {
    padding: .5407911001em .875em;
    font-size: .875em
}

.added_to_cart.disabled,
.added_to_cart:disabled,
.button.disabled,
.button:disabled,
button.disabled,
button:disabled,
input[type=button].disabled,
input[type=button]:disabled,
input[type=reset].disabled,
input[type=reset]:disabled,
input[type=submit].disabled,
input[type=submit]:disabled {
    opacity: .5!important;
    cursor: not-allowed
}

.added_to_cart.disabled:hover,
.added_to_cart:disabled:hover,
.button.disabled:hover,
.button:disabled:hover,
button.disabled:hover,
button:disabled:hover,
input[type=button].disabled:hover,
input[type=button]:disabled:hover,
input[type=reset].disabled:hover,
input[type=reset]:disabled:hover,
input[type=submit].disabled:hover,
input[type=submit]:disabled:hover {
    opacity: .5!important
}

input[type=checkbox],
input[type=radio] {
    padding: 0
}

input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

input[type=search] {
    box-sizing: border-box
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

.input-text,
input[type=email],
input[type=password],
input[type=search],
input[type=text],
input[type=url],
textarea {
    padding: .6180469716em;
/*    background-color: #f2f2f2;*/
    background-color: #f4f4f4;
    color: #43454b;
    outline: 0;
    border: 1px solid #e5e5e5;
    -webkit-appearance: none;
    box-sizing: border-box;
    font-weight: 400;
/*    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .125)*/
}

.input-text:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=text]:focus,
input[type=url]:focus,
textarea:focus {
    background-color: #f3f3f3;
    color: #2b2c30
}

textarea {
    overflow: auto;
    padding-left: .875em;
    vertical-align: top;
    width: 100%
}

label {
    font-weight: 400
}

label.inline input {
    width: auto
}

fieldset {
    padding: 1.618em;
    padding-top: 1em;
    border: 0;
    margin: 0;
    margin-bottom: 1.618em;
    margin-top: 1.618em
}

fieldset legend {
    font-weight: 600;
    padding: .6180469716em 1em;
    margin-left: -1em
}

[placeholder]:focus::-webkit-input-placeholder {
    -webkit-transition: opacity .5s .5s ease;
    transition: opacity .5s .5s ease;
    opacity: 0
}

img {
    border-radius: 3px
}

.comment-content img.wp-smiley,
.entry-content img.wp-smiley,
.page-content img.wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
    display: inline-block;
    border-radius: 0
}

.wp-caption {
    margin-bottom: 1em;
    max-width: 100%
}

.wp-caption img[class*=wp-image-] {
    display: block;
    margin: 0 auto
}

.wp-caption .wp-caption-text {
    text-align: left;
    font-style: italic;
    border-bottom: 2px solid rgba(0, 0, 0, .05);
    padding: 1em 0
}

.gallery {
    margin-bottom: 1em
}

.gallery:after,
.gallery:before {
    content: "";
    display: table
}

.gallery:after {
    clear: both
}

.gallery .gallery-item {
    float: left
}

.gallery .gallery-item .gallery-icon a {
    display: block
}

.gallery .gallery-item .gallery-icon img {
    border: none;
    height: auto;
    margin: 0 auto
}

.gallery .gallery-item .gallery-caption {
    margin: 0;
    text-align: center
}

.gallery.gallery-columns-1 .gallery-item {
    width: 100%
}

.gallery.gallery-columns-2 .gallery-item {
    width: 50%
}

.gallery.gallery-columns-3 .gallery-item {
    width: 33.3%
}

.gallery.gallery-columns-4 .gallery-item {
    width: 25%
}

.gallery.gallery-columns-5 .gallery-item {
    width: 20%
}

.gallery.gallery-columns-6 .gallery-item {
    width: 16.666666667%
}

.gallery.gallery-columns-7 .gallery-item {
    width: 14.285714286%
}

.gallery.gallery-columns-8 .gallery-item {
    width: 12.5%
}

.gallery.gallery-columns-9 .gallery-item {
    width: 11.111111111%
}

embed,
iframe,
object,
video {
    max-width: 100%
}

.secondary-navigation {
    display: none
}

button.menu-toggle {
    cursor: pointer;
    text-align: left;
    float: right;
    position: relative;
    border: 2px solid transparent;
    box-shadow: none;
    border-radius: 2px;
    background-image: none;
    padding: .4180469716em .875em .5180469716em 2.617924em;
/*    padding: .6180469716em .875em .6180469716em 2.617924em;*/
    font-size: .875em
}

button.menu-toggle:hover {
    background-image: none
}

button.menu-toggle span:before {
    -webkit-transition: all, ease, .2s;
    transition: all, ease, .2s
}

button.menu-toggle span:before,
button.menu-toggle:after,
button.menu-toggle:before {
    content: "";
    display: block;
    height: 2px;
    width: 14px;
    position: absolute;
    top: 50%;
    left: 1em;
    margin-top: -1px;
    -webkit-transition: all, ease, .2s;
    transition: all, ease, .2s;
    border-radius: 3px
}

button.menu-toggle:before {
    -webkit-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    transform: translateY(-4px)
}

button.menu-toggle:after {
    -webkit-transform: translateY(4px);
    -ms-transform: translateY(4px);
    transform: translateY(4px)
}

.toggled button.menu-toggle:after,
.toggled button.menu-toggle:before {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

.toggled button.menu-toggle:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.toggled button.menu-toggle span:before {
    opacity: 0
}

.primary-navigation {
    display: none
}

.main-navigation:after,
.main-navigation:before {
    content: "";
    display: table
}

.main-navigation:after {
    clear: both
}

.main-navigation div.menu {
    display: none
}
.main-navigation div.menu:last-child,
div.handheld-navigation
{
    display: block;
    margin-left: -200%;
    margin-top: 80%;
    background: #AC219C;
}
body.logged-in .main-navigation div.menu:last-child {
    display: block;
    margin-left: -208% !important;
    margin-top: 95% !important;
    background: #AC219C;
}
body.logged-in .main-navigation div.handheld-navigation {
    margin-left: -208% !important;
    margin-top: 95% !important;
    background: #AC219C;
    display: block;
}
.main-navigation div.menu ul, .handheld-navigation ul {
    padding: 0 5%;
}
.main-navigation div.menu ul li,
.handheld-navigation ul li
{
    border-bottom: 1px solid #CCCCCC;
}
.main-navigation .menu, .handheld-navigation ul {
    clear: both;
}

.handheld-navigation,
.main-navigation div.menu>ul:not(.nav-menu),
.nav-menu {
    overflow: hidden;
    max-height: 0;
    -webkit-transition: all, ease, .8s;
    transition: all, ease, .8s
}

.handheld-navigation {
    clear: both
}

.handheld-navigation ul {
    margin: 0
}

.main-navigation.toggled .handheld-navigation,
.main-navigation.toggled .menu>ul:not(.nav-menu),
.main-navigation.toggled ul[aria-expanded=true] {
    max-height: 1750px
}

.main-navigation ul {
    margin-left: 0;
    list-style: none;
    margin-bottom: 0
}

.main-navigation ul ul {
    display: block;
    margin-left: 1.41575em
}

.main-navigation ul li a {
    padding: .875em 0;
    display: block
}

.main-navigation ul li a:hover {
    color: #e6e6e6
}

.site-main nav.navigation {
    clear: both;
    padding: 2.617924em 0
}

.site-main nav.navigation:after,
.site-main nav.navigation:before {
    content: "";
    display: table
}

.site-main nav.navigation:after {
    clear: both
}

.site-main nav.navigation .nav-next a,
.site-main nav.navigation .nav-previous a {
    display: inline-block;
    -webkit-transition: all, ease, .3s;
    transition: all, ease, .3s;
    padding: .6180469716em 1em;
    border-radius: 3px
}

.site-main nav.navigation .nav-previous {
    float: left;
    width: 50%
}

.site-main nav.navigation .nav-previous a:hover {
    -webkit-transform: translate(-1em);
    -ms-transform: translate(-1em);
    transform: translate(-1em)
}

.site-main nav.navigation .nav-next {
    float: right;
    text-align: right;
    width: 50%
}

.site-main nav.navigation .nav-next a:hover {
    -webkit-transform: translate(1em);
    -ms-transform: translate(1em);
    transform: translate(1em)
}

.pagination,
.woocommerce-pagination {
    padding: 1em 0;
    border: 1px solid rgba(0, 0, 0, .05);
    border-width: 1px 0;
    text-align: center;
    clear: both
}

.pagination ul.page-numbers:after,
.pagination ul.page-numbers:before,
.woocommerce-pagination ul.page-numbers:after,
.woocommerce-pagination ul.page-numbers:before {
    content: "";
    display: table
}

.pagination ul.page-numbers:after,
.woocommerce-pagination ul.page-numbers:after {
    clear: both
}

.pagination .page-numbers,
.woocommerce-pagination .page-numbers {
    list-style: none;
    margin: 0
}

.pagination .page-numbers li,
.woocommerce-pagination .page-numbers li {
    display: inline-block
}

.pagination .page-numbers li .page-numbers,
.woocommerce-pagination .page-numbers li .page-numbers {
    border-left-width: 0;
    display: inline-block;
    padding: .3342343017em .875em;
    background-color: rgba(0, 0, 0, .055);
    color: #43454b
}

.pagination .page-numbers li .page-numbers.current,
.woocommerce-pagination .page-numbers li .page-numbers.current {
    background-color: #2c2d33;
    border-color: #2c2d33
}

.pagination .page-numbers li .page-numbers.dots,
.woocommerce-pagination .page-numbers li .page-numbers.dots {
    background-color: transparent
}

.pagination .page-numbers li .page-numbers.next,
.pagination .page-numbers li .page-numbers.prev,
.woocommerce-pagination .page-numbers li .page-numbers.next,
.woocommerce-pagination .page-numbers li .page-numbers.prev {
    padding-left: 1em;
    padding-right: 1em
}
/*.woocommerce-MyAccount-content table tr th, .woocommerce table.shop_table th {
    background-color: #dddddd !important;
}*/
.woocommerce-MyAccount-content table thead tr th {
    background-color: #dddddd !important;
} 
.woocommerce-order-details table thead tr th {
    background: #dddddd !important;
}
.woocommerce-order-details table tfoot th {
    background: none !important;
}
.woocommerce-order-details table tbody tr td,
.woocommerce-order-details table tfoot th,
.woocommerce-order-details table tfoot td {
    border-bottom: 1px solid #43454b;
}
.order_details {
    background-color: #fdfdfd !important;
}
.pagination .page-numbers li a.page-numbers:hover,
.woocommerce-pagination .page-numbers li a.page-numbers:hover {
    background-color: rgba(0, 0, 0, .05)
}

.rtl .pagination a.next,
.rtl .pagination a.prev,
.rtl .woocommerce-pagination a.next,
.rtl .woocommerce-pagination a.prev {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg)
}

.widget {
    margin: 0 0 3.706325903em
}

.widget select {
    max-width: 100%;
    padding: 0.5em 0.7em;
    width: 100%;
}

.widget .widget-search .search-submit {
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute!important
}

.widget .widget-title,
.widget .widgettitle {
    font-size: 1.41575em;
    letter-spacing: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    padding: 0 0 0.25em;
    margin-bottom: 1em;
    font-weight: 300
}

.widget ul {
    margin-left: 0;
    list-style: none
}

.widget ul ul {
    margin-left: 1.618em
}

.widget-area .widget {
    font-weight: 300
}

.widget-area .widget a.button {
    font-weight: 600!important
}

.header-widget-region:after,
.header-widget-region:before {
    content: "";
    display: table
}

.header-widget-region:after {
    clear: both
}

.header-widget-region .widget {
    margin: 0;
    padding: 1em 0;
    font-size: .875em
}

.widget_product_search form,
.widget_search form {
    position: relative
}

.widget_product_search form input[type=search],
.widget_product_search form input[type=text],
.widget_search form input[type=search],
.widget_search form input[type=text] {
    width: 100%
}

.widget_product_search form input[type=submit],
.widget_search form input[type=submit] {
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute!important;
    top: 0;
    left: 0
}

.widget_archive ul,
.widget_categories ul,
.widget_layered_nav ul,
.widget_layered_nav_filters ul,
.widget_links ul,
.widget_nav_menu ul,
.widget_pages ul,
.widget_product_categories ul,
.widget_recent_comments ul,
.widget_recent_entries ul {
    margin: 0
}

.widget_archive ul li,
.widget_categories ul li,
.widget_layered_nav ul li,
.widget_layered_nav_filters ul li,
.widget_links ul li,
.widget_nav_menu ul li,
.widget_pages ul li,
.widget_product_categories ul li,
.widget_recent_comments ul li,
.widget_recent_entries ul li {
    list-style: none;
    margin-bottom: 1em;
    line-height: 1.41575em
}

.widget_archive ul .children,
.widget_categories ul .children,
.widget_layered_nav ul .children,
.widget_layered_nav_filters ul .children,
.widget_links ul .children,
.widget_nav_menu ul .children,
.widget_pages ul .children,
.widget_product_categories ul .children,
.widget_recent_comments ul .children,
.widget_recent_entries ul .children {
    margin-top: .6180469716em;
    margin-left: 1.618em
}

.widget_archive ul .children,
.widget_categories ul .children,
.widget_layered_nav ul .children,
.widget_layered_nav_filters ul .children,
.widget_links ul .children,
.widget_nav_menu ul .children,
.widget_pages ul .children,
.widget_product_categories ul .children,
.widget_recent_comments ul .children,
.widget_recent_entries ul .children {
    margin-left: 0;
    margin-top: 1em
}

.footer-widgets #wp-calendar td,
.footer-widgets #wp-calendar th,
.widget-area #wp-calendar td,
.widget-area #wp-calendar th {
    padding: .236em;
    text-align: center
}

.widget_pages ul ul.children,
.widget_recent_entries ul ul.children {
    margin: .6180469716em 0 0 1.41575em
}

.widget_rating_filter .wc-layered-nav-rating {
    margin-bottom: .6180469716em
}

.widget_rating_filter .wc-layered-nav-rating a {
    text-decoration: none!important
}

.widget_rating_filter .wc-layered-nav-rating .star-rating {
    display: inline-block;
    height: 1em;
    line-height: 1
}

.widget-area .widget {
    font-size: .875em
}

.widget-area .widget h1.widget-title {
    font-size: 1.41575em
}

.widget-area .widget a:not(.button) {
    font-weight: 400;
    text-decoration: underline
}

.widget-area .widget a:not(.button):hover {
    text-decoration: none
}
.header-menu-wrapper {
        float: left;
        margin: 0 2.3%;
        width: 47%;
        margin-left: 2%;
    }
    .signout-header {
        display: none;
    }
    p#billing_company_field {
        display: none !important;
    }
    
@media (min-width:768px) {
    table.shop_table_responsive tbody tr td,
    table.shop_table_responsive tbody tr th {
        text-align: left
    }
    .site-header {
        /*padding-top:2.617924em;*/
        padding-bottom: 0
    }
    .site-header .site-branding {
        display: block;
        float: left;
        clear: both;
        margin-bottom: 0.5%;
        margin-left: 2%;
        margin-top: 0.5%;
        width: 17.739%;
    }
    .site-header .site-branding img {
        height: auto;
        max-width: 100%;
        max-height: none
    }
    .woocommerce-active .site-header .secondary-navigation {
        width: 47.8260869565%;
        float: left;
        margin-right: 4.347826087%
    }
    .woocommerce-active .site-header .site-search {
        /*        width: 21.7391304348%;*/
        width: 25%;
        float: left;
        margin: 2.8% 0;
        clear: none
    }
    .woocommerce-active .site-header .account-login:after { 
        color: #5b5b5b;
        content: "";
        display: inline-block;
        float: left;
        font-family: FontAwesome;
        margin: 3% 0.5% 0 5%;
        width: 1%;
    }
    .site-header .account-login span {
        display: inline;
        line-height: 5.7;
        color: #5b5b5b;
    }
    .header-icon-wrapper-responsive {
        display: none;
    }
    .header-icon-wrapper {
        float: right;
        height: auto;
        padding: 1.2% 1% 0;
        width: auto;
    }
    .header-icon-wrapper ul.nav-icon {
        margin: 0 !important;
    }
    .header-icon-wrapper ul.nav-icon li {
        display: initial;
    }
    .header-icon-wrapper ul.nav-icon li img {
        margin-bottom: 13%;
    }
    .header-menu-wrapper {
        float: left;
        margin: 0 2.3%;
        width: 47%;
        margin-left: 2%;
/*        float: left;
        margin: 0 3%;
        width: 45%;*/
    }
    .header-menu-wrapper .main-navigation {
        width: 100% !important; 
        text-align: center;
    }
    .header-menu-wrapper ul li {
        border-right: 1px solid #e5e5e5;
        padding: 4% 1% 1%;
        line-height: 2.5;
    }
    .header-menu-wrapper ul li:last-child {
        border-right: none;
    }
    .header-menu-wrapper ul li span img {
        margin: 0 auto;
    }
    .header-menu-wrapper ul li a.cart-contents {
        padding: 0 !important;
    }
    .header-menu-wrapper ul li span.count {
        background: #C03F6E;
        border-radius: 9px;
        line-height: 0.7;
        padding: 10%;
        position: absolute;
        right: 7%;
        top: 1%;
        color: #fff;
    }
    .header-menu-wrapper ul li a.cart-contents span.amount {
        display: none;
    }
    /*product category menu*/
    .menu-category {
        display: inline-block;
        float: left;
        margin: 18% 13% 13% -10%;
        position: relative;
    }
    .navbar-toggle {
        border-color: #fff;
        border-radius: 5px;
        display: block;
        padding: 10px 15px;
    }
    .navbar-toggle .icon-bar {
        background-color: #fff;
        border-radius: 1px;
        display: block;
        height: 2px;
        margin-top: 0.2em;
        width: 20px;
    }
    .category-content {
        background-color: #f9f9f9;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        display: none;
        position: absolute;
        z-index: 1;
        top: 103%;
        border-radius: 7px;
    }
    .category-content ul.dropdown-menu {
        display: block;
        padding-top: 0;
        margin: 0 7em 1.5em 0.5em !important;
        transform: translateY(5px);
        transition: all 0.3s ease-in-out 0s;
    }
    .category-content ul li {
        list-style-type: none;
        border-bottom: 1px solid #e5e5e5;
        padding: 1% 5%;
        width: 200%;
    }
    .category-content ul li:last-child {
        border-bottom: none;
    }
    .category-content ul li a {
        color: #081bb2;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    .category-content ul li a:hover {
        background-color: #C25BB5;
        color: #fff;
    }
    .menu-category:hover .category-content {
        display: block;
    } 
    .menu-category-responsive {
        display: none;
    }
    /*product category menu*/
    .header-menu-wrapper ul li a,
    .woocommerce-MyAccount-content table.shop_table tbody tr td.order-number a,
    .woocommerce-tabs ul.wc-tabs li a 
    {
/*        padding: 2% 1.1% !important;*/
        color: #081BB2 !important;
        font-size: 0.9em !important;
    }
    .customname {
        color: #081bb2;
    float: right;
    margin-top: -2%;
    }
    #post-2 header {
        display: none;
    }
    .site-header {
        /*background-color: #981937 !important;*/
        background-color: #fff !important;
    }
    .site-footer {
        background-image: url("images/footer.jpg") !important;
        height: 380px;
    }
    .footer-wrapper {
        width: 70%;
        margin: 0 auto;
        padding: 7% 3%;
    }
    .footer-wrapper ul li {
        list-style-type: none;
        line-height: 2;
    }
    .footer-wrapper ul li a {
         color: #E5E2EB !important;
         text-transform: uppercase;
         font-size: 0.9em !important;
    }
    .footer-coloum1 {
     width: 20%;   
     float: left;
    }
    .footer-coloum2 {
        width: 30%;   
     float: left;
    }
    .footer-separator {
        border-left: 2px solid #E5E2EB;
        float: left;
        padding: 7% 0;
    }
    .footer-coloum3 {
        width: 44%;   
     float: left;
     margin: 0 0 1.41575em 2.5em;
     line-height: 2;
    }
    .footer-coloum3 img {
        float: left;
    }
    .footer-coloum3 span {
        color: #fff;
        margin-left: 1%;
    }
    section.related products h2 {
      text-decoration: underline;  
    }
    body.single-product .content-area .woocommerce .ced {
        display: none !important;
    }
    p.out-of-stock {
        margin-left: 10% !important;
    }
    .ico_cancel_order_wrapper a,
    table.woocommerce-orders-table tbody tr td.woocommerce-orders-table__cell-order-number a
    {
        color: #081bb2 !important;
    }
    table.shop_table tbody tr td.product-name a {
        color: #081bb2 !important;
    }
    /*shop design*/
    ul.products li h2.woocommerce-loop-product__title {
        background: #e0e5e9 none repeat scroll 0 0;
        bottom: 10%;
        color: #3a3a3a !important;
        font-family: Helvetica !important;
        font-size: 15px !important;
        font-weight: 600 !important;
        opacity: 0.9;
        padding: 4% 0 0;
        position: absolute;
        text-align: center;
        margin-bottom: 0.240791em !important;
        width: 100%;
    }
    ul.products li a.button {
        display: none;
    }
    ul.products li:hover {
        box-shadow: 0 2px 17px 0 rgba(23, 84, 116, 0.35);
/*        box-shadow: 0 2px 15px rgba(0, 0, 0, 0.65);*/
    }
    /*shop design*/
    .woocommerce-checkout-review-order table {
         border-collapse: collapse !important;
    }
    .woocommerce-checkout-review-order table.shop_table thead tr th {
        background-color: #f0f0f0 !important;
    }
    .woocommerce-checkout-review-order table.shop_table tfoot tr th {
        background-color: #fafafa !important;
    }
    .woocommerce-checkout-review-order table.shop_table tbody tr,
    .woocommerce-checkout-review-order table.shop_table tfoot tr {
        border-bottom: 1px solid #e5e5e5;
    }
/*    .woocommerce {
        padding: 1%;
    }*/
    .woocommerce-active .site-header .main-navigation {
        width: 73.9130434783%;
        float: left;
        margin-right: 4.347826087%;
        clear: both
    }
    .pagination .page-numbers li .page-numbers.current, 
    .woocommerce-pagination .page-numbers li .page-numbers.current {
         background-color: #d75685 !important;
    }
    .pagination .page-numbers li .page-numbers.current, 
    .woocommerce-pagination .page-numbers li .page-numbers.current {
        color: #fff !important;
    }
    .woocommerce-active .site-header .site-header-cart {
/*        width: 21.7391304348%;*/
        width: 20.739%;
        float: right;
        margin-right: 0;
        margin-bottom: 0
    }
    .site-branding .site-description {
        margin-bottom: 0;
        display: block
    }
    .custom-logo-link,
    .site-branding,
    .site-header-cart,
    .site-logo-anchor,
    .site-logo-link,
    .site-search {
        margin-bottom: 1.41575em
    }
    .site-header .subscribe-and-connect-connect {
        float: right;
        margin-bottom: 1em
    }
    .site-header .subscribe-and-connect-connect .icons {
        list-style: none;
        margin: 0
    }
    .site-header .subscribe-and-connect-connect .icons a {
        font-size: 1em!important
    }
    
    .site-header .subscribe-and-connect-connect .icons li {
        margin: 0 0 0 .5407911001em!important;
        display: inline-block
    }
    .col-full {
        max-width: 100em;
        margin-left: auto;
        margin-right: auto;
        padding: 0 2.617924em;
        box-sizing: content-box
    }
    .col-full:after,
    .col-full:before {
        content: "";
        display: table
    }
    .col-full:after {
        clear: both
    }
    .col-full:after {
        content: " ";
        display: block;
        clear: both
    }
    .site-content:after,
    .site-content:before {
        content: "";
        display: table
    }
    .site-content:after {
        clear: both
    }
    .content-area {
        width: 73.9130434783%;
        float: left;
        margin-right: 4.347826087%
    }
    .widget-area {
        float: right;
        margin-right: 0;
        padding-right: 2%;
        padding-top: 1%;
        width: 21.7391%;
    }
    .right-sidebar .content-area {
        width: 73.9130434783%;
        float: left;
        margin-right: 4.347826087%
    }
    .right-sidebar .widget-area {
        width: 21.7391304348%;
        float: right;
        margin-right: 0
    }
    .left-sidebar .content-area {
        width: 73.9130434783%;
        float: right;
        margin-right: 0
    }
    .left-sidebar .widget-area {
        width: 21.7391304348%;
        float: left;
        margin-right: 2.347826087%;
        margin-left: 2%;
    }
    .storefront-full-width-content .content-area {
        width: 100%;
        float: left;
        margin-left: 0;
        margin-right: 0
    }
    .content-area,
    .widget-area {
        margin-bottom: 2.617924em
    }
    .page-template-template-fullwidth-php .content-area,
    .page-template-template-homepage-php .content-area {
        width: 100%;
        float: left;
        margin-left: 0;
        margin-right: 0
    }
    .footer-widgets {
        padding-top: 4.235801032em;
        border-bottom: 1px solid rgba(0, 0, 0, .05)
    }
    .footer-widgets:after,
    .footer-widgets:before {
        content: "";
        display: table
    }
    .footer-widgets:after {
        clear: both
    }
    .footer-widgets.col-2 .block {
        width: 47.8260869565%;
        float: left;
        margin-right: 4.347826087%
    }
    .footer-widgets.col-2 .block.footer-widget-2 {
        float: right;
        margin-right: 0
    }
    .footer-widgets.col-3 .block {
        width: 30.4347826087%;
        float: left;
        margin-right: 4.347826087%
    }
    .footer-widgets.col-3 .block.footer-widget-3 {
        float: right;
        margin-right: 0
    }
    .footer-widgets.col-4 .block {
        width: 21.7391304348%;
        float: left;
        margin-right: 4.347826087%
    }
    .footer-widgets.col-4 .block.footer-widget-4 {
        float: right;
        margin-right: 0
    }
    .comment-list:after,
    .comment-list:before {
        content: "";
        display: table
    }
    .comment-list:after {
        clear: both
    }
    .comment-list .comment {
        clear: both
    }
    .comment-list .comment-meta {
        width: 17.6470588235%;
        float: left;
        margin-right: 5.8823529412%;
        text-align: right
    }
    .comment-list .comment-meta .avatar {
        float: right
    }
    .comment-list .comment-content {
        padding-bottom: 3.706325903em;
        margin-bottom: 3.706325903em
    }
    .comment-list #respond,
    .comment-list .comment-content {
        width: 76.4705882353%;
        float: right;
        margin-right: 0
    }
    .comment-list #respond {
        float: right
    }
    .comment-list #respond .comment-form-author,
    .comment-list #respond .comment-form-email,
    .comment-list #respond .comment-form-url {
        width: 100%;
        margin-right: 0
    }
    .comment-list .comment-body #respond {
        box-shadow: 0 6px 2em rgba(0, 0, 0, .2);
        margin-bottom: 2.617924em;
        margin-top: -1.618em
    }
    .comment-list .reply {
        clear: both;
        text-align: right
    }
    .comment-list ol.children {
        width: 88.2352941176%;
        float: right;
        margin-right: 0;
        list-style: none
    }
    .comment-list ol.children .comment-meta {
        width: 20%;
        float: left;
        margin-right: 6.6666666667%
    }
    .comment-list ol.children #respond,
    .comment-list ol.children .comment-content {
        width: 73.3333333333%;
        float: right;
        margin-right: 0
    }
    .comment-list ol.children ol.children {
        width: 86.6666666667%;
        float: right;
        margin-right: 0
    }
    .comment-list ol.children ol.children .comment-meta {
        width: 23.0769230769%;
        float: left;
        margin-right: 7.6923076923%
    }
    .comment-list ol.children ol.children #respond,
    .comment-list ol.children ol.children .comment-content {
        width: 69.2307692308%;
        float: right;
        margin-right: 0
    }
    .comment-list ol.children ol.children ol.children {
        width: 84.6153846154%;
        float: right;
        margin-right: 0
    }
    .comment-list ol.children ol.children ol.children .comment-meta {
        width: 27.2727272727%;
        float: left;
        margin-right: 9.0909090909%
    }
    .comment-list ol.children ol.children ol.children #respond,
    .comment-list ol.children ol.children ol.children .comment-content {
        width: 63.6363636364%;
        float: right;
        margin-right: 0
    }
    .comment-list ol.children ol.children ol.children ol.children {
        width: 81.8181818182%;
        float: right;
        margin-right: 0
    }
    .comment-list ol.children ol.children ol.children ol.children .comment-meta {
        width: 33.3333333333%;
        float: left;
        margin-right: 11.1111111111%
    }
    .comment-list ol.children ol.children ol.children ol.children #respond,
    .comment-list ol.children ol.children ol.children ol.children .comment-content {
        width: 55.5555555556%;
        float: right;
        margin-right: 0
    }
    #respond {
        padding: 2.617924em
    }
    #respond .comment-form-author,
    #respond .comment-form-email,
    #respond .comment-form-url {
        width: 29.4117647059%;
        float: left;
        margin-right: 5.8823529412%
    }
    #respond .comment-form-url {
        float: right;
        margin-right: 0
    }
    #respond .comment-form-comment {
        clear: both
    }
    .hentry .entry-header {
        margin-bottom: 2.617924em
    }
    .hentry.type-post:after,
    .hentry.type-post:before {
        content: "";
        display: table
    }
    .hentry.type-post:after {
        clear: both
    }
    .hentry.type-post .entry-meta {
        width: 17.6470588235%;
        float: left;
        margin-right: 5.8823529412%;
        font-size: .875em
    }
    .hentry.type-post .entry-content {
        width: 76.4705882353%;
        float: right;
        margin-right: 0
    }
    .handheld-navigation,
    .main-navigation.toggled .handheld-navigation,
    .main-navigation.toggled div.menu,
    .menu-toggle {
        display: none
    }
    .primary-navigation {
        display: block
    }
    .main-navigation,
    .secondary-navigation {
        clear: both;
        display: block;
        width: 100%
    }
    .main-navigation ul,
    .secondary-navigation ul {
        list-style: none;
        margin: 0;
        padding-left: 0;
        display: block
    }
    .main-navigation ul li,
    .secondary-navigation ul li {
        position: relative;
        display: inline-block;
        text-align: left
    }
    .main-navigation ul li a,
    .secondary-navigation ul li a {
        display: block
    }
    .main-navigation ul li a:before,
    .secondary-navigation ul li a:before {
        display: none
    }
    .main-navigation ul li.focus>ul,
    .main-navigation ul li:hover>ul,
    .secondary-navigation ul li.focus>ul,
    .secondary-navigation ul li:hover>ul {
        left: 0;
        display: block
    }
    .main-navigation ul li.focus>ul li>ul,
    .main-navigation ul li:hover>ul li>ul,
    .secondary-navigation ul li.focus>ul li>ul,
    .secondary-navigation ul li:hover>ul li>ul {
        left: -9999px
    }
    .main-navigation ul li.focus>ul li>ul.sub-menu--is-touch-device,
    .main-navigation ul li:hover>ul li>ul.sub-menu--is-touch-device,
    .secondary-navigation ul li.focus>ul li>ul.sub-menu--is-touch-device,
    .secondary-navigation ul li:hover>ul li>ul.sub-menu--is-touch-device {
        display: none;
        left: 0
    }
    .main-navigation ul li.focus>ul li.focus>ul,
    .main-navigation ul li.focus>ul li:hover>ul,
    .main-navigation ul li:hover>ul li.focus>ul,
    .main-navigation ul li:hover>ul li:hover>ul,
    .secondary-navigation ul li.focus>ul li.focus>ul,
    .secondary-navigation ul li.focus>ul li:hover>ul,
    .secondary-navigation ul li:hover>ul li.focus>ul,
    .secondary-navigation ul li:hover>ul li:hover>ul {
        left: 100%;
        top: 0;
        display: block
    }
    .main-navigation ul ul,
    .secondary-navigation ul ul {
        float: left;
        position: absolute;
        top: 100%;
        z-index: 99999;
        left: -9999px
    }
    .main-navigation ul ul.sub-menu--is-touch-device,
    .secondary-navigation ul ul.sub-menu--is-touch-device {
        display: none;
        left: 0
    }
    .main-navigation ul ul li,
    .secondary-navigation ul ul li {
        display: block
    }
    .main-navigation ul ul li a,
    .secondary-navigation ul ul li a {
        width: 200px
    }
    ul.menu li.current-menu-item>a {
        color: #43454b
    }
    .storefront-primary-navigation {
        clear: both;
        margin-left: -99em;
        margin-right: -99em;
        padding-left: 99em;
        padding-right: 99em;
        display: none;
    }
    .storefront-primary-navigation:after,
    .storefront-primary-navigation:before {
        content: "";
        display: table
    }
    .storefront-primary-navigation:after {
        clear: both
    }
    .main-navigation div.menu {
        display: block
    }
    .main-navigation ul.menu,
    .main-navigation ul.nav-menu {
        max-height: none;
        overflow: visible
    }
    .main-navigation ul.menu>li>a,
    .main-navigation ul.nav-menu>li>a {
        padding: 1.618em 1em
    }
    .main-navigation ul.menu>li:first-child,
    .main-navigation ul.nav-menu>li:first-child {
        margin-left: -1em
    }
    .main-navigation ul.menu>li.menu-item-has-children:hover:after,
    .main-navigation ul.menu>li.page_item_has_children:hover:after,
    .main-navigation ul.nav-menu>li.menu-item-has-children:hover:after,
    .main-navigation ul.nav-menu>li.page_item_has_children:hover:after {
        display: block
    }
    .main-navigation ul.menu ul,
    .main-navigation ul.nav-menu ul {
        margin-left: 0
    }
    .main-navigation ul.menu ul li a,
    .main-navigation ul.nav-menu ul li a {
        padding: .875em 1.41575em;
        font-weight: 400;
        font-size: .875em
    }
    .main-navigation ul.menu ul li:last-child,
    .main-navigation ul.nav-menu ul li:last-child {
        border-bottom: 0
    }
    .main-navigation ul.menu ul ul,
    .main-navigation ul.nav-menu ul ul {
        margin-left: 0;
        box-shadow: none
    }
    .main-navigation ul.menu ul a:hover,
    .main-navigation ul.menu ul li.focus,
    .main-navigation ul.menu ul li:hover>a,
    .main-navigation ul.nav-menu ul a:hover,
    .main-navigation ul.nav-menu ul li.focus,
    .main-navigation ul.nav-menu ul li:hover>a {
        background-color: rgba(0, 0, 0, .025)
    }
    .main-navigation a {
        padding: 0 1em 2.2906835em
    }
    .secondary-navigation {
        margin: 0 0 1.618em;
        width: auto;
        clear: none;
        line-height: 1;
        display: none;
    }
    .secondary-navigation .menu {
        font-size: .875em;
        width: auto;
        float: right
    }
    .secondary-navigation .menu>li:hover>a {
        text-decoration: none
    }
    .secondary-navigation .menu ul a {
        padding: .326em .875em;
        background: rgba(0, 0, 0, .05)
    }
    .secondary-navigation .menu ul li:first-child a {
        padding-top: 1em
    }
    .secondary-navigation .menu ul li:last-child a {
        padding-bottom: 1em
    }
    .secondary-navigation .menu ul ul {
        margin-top: -.6180469716em
    }
    .secondary-navigation .menu a {
        padding: 1em .875em;
        color: #737781;
        font-weight: 400
    }
    .secondary-navigation .menu a:hover {
        text-decoration: none
    }
    
    /*latest products*/
    .latest-wrapper {
        width: 100%;
        float: left;
        box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
        padding: 2% 0;
        background: url("images/img_300x300.jpg");
    }
    .latest-header {
        width: 20%;
        color: #525252;
        text-align: center;
        float: left;
    }
    .latest-header h3 {
        color: #525252;
        font-family: verdana;
        font-size: 1.7em;
        margin: 50% 0;
        padding: 0 11%;
    }
    .latest-content {
        width: 80%;
        padding: 0.5%;
        float: right;
/*        border: 1px solid green;*/
    }
    /*latest products*/
    
    /*most viewed products*/
    .mostviewed-wrapper {
        width: 100%;
        float: left;
        box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
        padding: 2% 0;
        margin-top: 1%;
        background: url("images/img_300x300.jpg");
    }
    .mostviewed-header {
        width: 20%;
        color: #525252;
        text-align: center;
        float: left;
    }
    .mostviewed-header h3 {
        color: #525252;
        font-family: verdana;
        font-size: 1.7em;
        margin: 30% 0;
    }
    .mostviewed-content {
        width: 80%;
        padding: 0.5%;
        float: right;
    }
    .columns-3 {
        padding-left: 2%;
    }
    /*most viewed products*/
}

@media (max-width:66.4989378333em) {
    .col-full {
        margin-left: 2.617924em;
        margin-right: 2.617924em;
        padding: 0
    }
}
@media (max-width:50.00em) {
    .site-header {
        background-color: #F5F5F5 !important;
        padding-bottom: 0 !important;
    }
    .header-icon-wrapper {
        float: left !important;
        margin-top: 3% !important;
    }
    .header-icon-wrapper ul {
        list-style-type: none !important;
        display: inline-flex !important;
        margin: 0 !important;
    }
    .header-icon-wrapper ul li {
        padding-right: 4% !important;
    }
    button.menu-toggle {
      background: #d75685 !important;
      border-color: #d75685 !important;
      border-radius: 7px !important;
    }
    .customname {
        float: right !important;
        margin-top: -7% !important;
        color: #081bb2 !important;
        font-weight: bold;
    }
    .signout-header {
        display: block !important;
        float: right;
        margin-top: 0% !important;
        margin-right: -17% !important;
    }
    .signout-header a {
        color: #081bb2 !important;
    }
    #cup-left textarea {
        width: auto !important;
    }
    #cup-right {
        width: 100% !important;
    }
    .menu-category {
        display: none !important;
    }
/*product category menu*/
.menu-category-responsive {
    display: inline-block;
    float: left;
    margin: 6% 13% 13% 0%;
    position: relative;
    }
    .navbar-toggle-responsive {
        border-color: #fff;
        border-radius: 5px;
        display: block;
        padding: 10px 15px;
    }
    .navbar-toggle-responsive .icon-bar {
        background-color: #fff;
        border-radius: 1px;
        display: block;
        height: 2px;
        margin-top: 0.2em;
        width: 20px;
    }
    .category-content {
        background-color: #f9f9f9;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        display: none;
        position: absolute;
        z-index: 1;
        top: 103%;
        border-radius: 7px;
    }
    .category-content ul.dropdown-menu {
        display: block;
        padding-top: 0;
        margin: 0 7em 1.5em 0.5em !important;
        transform: translateY(5px);
        transition: all 0.3s ease-in-out 0s;
    }
    .category-content ul li {
        list-style-type: none;
        border-bottom: 1px solid #e5e5e5;
        padding: 1% 5%;
        width: 200%;
    }
    .category-content ul li:last-child {
        border-bottom: none;
    }
    .category-content ul li a {
        color: #081bb2;
/*        padding: 12px 16px;*/
        padding: 12px 0;
        text-decoration: none;
        display: block;
        padding-left: 10px;
    }
    .category-content ul li a:focus {
        background-color: #C25BB5;
        color: #fff;
    }
    .categoryShow {
        display: block;
    }
/*product category menu*/
.header-icon-wrapper {
    display: none;
}
    .header-icon-wrapper-responsive {
        float: right;
        height: auto;
        width: auto;
        margin-top: 13%;
    }
    .header-icon-wrapper-responsive ul.nav-icon {
        margin: 0 !important;
    }
    .header-icon-wrapper-responsive ul.nav-icon li {
        display: inline-block;
    }
    .header-icon-wrapper-responsive ul.nav-icon li img {
        margin-bottom: 13%;
    }
    .site-footer {
        background-image: url("images/footer.jpg") !important;
        height: auto !important;
        background-repeat: repeat !important;
    }
    .footer-wrapper ul {
        margin: 0 5% !important;
    }
    .footer-wrapper ul li {
        list-style-type: none !important;
    }
    .footer-wrapper ul li a,
    .footer-coloum3 span
    {
        color: #fff !important;
    }
    .footer-coloum3 {
        margin-top: 7%;
    }
    .footer-coloum3 img {
        margin-right: 2%;
        display: inline;
        margin-bottom: -3%;
    }
    .footer-copyright p {
        margin-top: 5% !important;
    }
}
@media (max-width:568px) {
    .col-full {
        margin-left: 1.41575em;
        margin-right: 1.41575em;
        padding: 0
    }
}